# Pengenalan Python

In [14]:
# numbers : integer, float complex

# integer
angka = 7
print(angka)
type(angka)

7

int

In [15]:
# float
angka2 = 7.0
print(angka2)
type(angka2)

7.0

float

In [26]:
# complex
angka3 = 2+5j
print(angka3)
type(angka3)

(2+5j)

complex

In [17]:
print (5 + 4)

9

In [18]:
5+4

9

In [19]:
angka4 = 4.
print(angka4)
type(angka4)

4.0

float

In [25]:
angka5 = .2
print(angka5)
type(angka5)

0.2

float

In [23]:
# strings
nama = 'sheila'
print(nama)
type(nama)

sheila

str

In [24]:
hari = 'Jum\'at'
print(hari)
type(hari)

Jum'at

str

In [30]:
lirik = """kamu siapa
dengan siapa
semalam berbuat apa"""

print(lirik)

kamu siapa
dengan siapa
semalam berbuat apa

In [33]:
# selecting character
nama2 = "Sheila"
print (nama2[5])
print (nama2[-2])

a
l

In [36]:
# slicing
nama3 = "Sheila"
nama4 = nama3[0:6:2]
print (nama4)


nama5 = nama3[:4]
print (nama5)

nama6 = nama3[2:]
print (nama6)

Sel
Shei
eila

In [37]:
# f-string
nama = 'sheila'
usia = 17
statement = print(f"Nama kamu adalah {nama} dan usia kamu adalah {usia}")
type (statement)

Nama kamu adalah: sheila dan usia kamu adalah 17

NoneType

In [2]:
# input
nama = input("Siapa nama kamu? ")
usia = input("Berapa usia kamu? ")
print(f"Nama kamu adalah {nama} dan usia kamu adalah {usia}")

Nama kamu adalah: Sheila dan usia kamu adalah 17

In [3]:
True
False
true

NameError: name 'true' is not defined

In [2]:
# camel case
namaanggota = 5 #class

# pascal case 
NamaAnggota = 5 #var
 # snake case
nama_anggota = 5 #var / function

In [4]:
# list vs tuple
# tuple cannot be edited, list can be edited (append, insert)

In [5]:
# list 
a = [1,2,3,4,5]
a.append(100)
print(a)

[1, 2, 3, 4, 5, 100]

In [7]:
b = [1,2,3,4,5]
b.insert(0,50)
print(b)

[50, 1, 2, 3, 4, 5]

In [13]:
c = [1,2,3,4,5]
c.remove(1)
print(c)

del c[1]
print(c)

[2, 3, 4, 5]
[2, 4, 5]

In [16]:
# dictionary

biodata = {"nama": "sheila", "usia": "17", "pekerjaan":"pelajar"}

print (biodata)

{'nama': 'sheila', 'usia': '17', 'pekerjaan': 'pelajar'}

In [20]:
biodata["nama"]

'pelajar'

In [21]:
del biodata["usia"]
print (biodata)

{'nama': 'sheila', 'pekerjaan': 'pelajar'}